body {
    margin: 0;
    padding: 0;
}

.navbar{
    display:flex;
    flex-direction: row;
    margin-bottom: 20px;
    background-color: rgb(249,249,249);
    justify-content: flex-start;
    align-items: center;
    padding:10px;
    transition: color 0.2s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}


.logo{
    width: 90px;
    height: auto;
}

.links{
    display:flex;
    flex-direction: row;
    margin-left: 100px;
}

.link{
    color: rgb(127, 127, 132);
    text-decoration: none;
    margin-right: 30px;
    font-family: 'Times New Roman';
    transition: color 0.2s;
}

.link:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
    transform: scale(1.2);
    font-weight: 800;
}
